@font-face {
    font-family: "Basel";
    src: local("/assets/Basel-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basel';
    src: local("/assets/Basel-Bold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ABCGravityUprightVariable';
    src: local("/assets/ABCGravityUprightVariable.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Apply the custom font to all elements */
body {
    font-family: "Basel", sans-serif !important;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "ABCGravityUprightVariable", sans-serif !important;
}

.btn-outline-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #953BF6;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #953BF6;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5a0dd4;
  --bs-btn-hover-border-color: #5a0dd4;
  --bs-btn-focus-shadow-rgb: 102, 16, 242;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4f0bbb;
  --bs-btn-active-border-color: #4f0bbb;
}

.hype-meter-progress .progress-bar {
    font-weight: 600;
}
