@font-face {
    font-family: "Basel";
    src: local("/assets/Basel-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basel';
    src: local("/assets/Basel-Bold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ABCGravityUprightVariable';
    src: local("/assets/ABCGravityUprightVariable.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Apply the custom font to all elements */
body {
    font-family: "Basel", sans-serif !important;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "ABCGravityUprightVariable", sans-serif !important;
}